h1 {
    margin-bottom: 0.5rem;
    color: #142433;
}

.tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.25rem;
    margin-top: 1.5rem;
}

.tarjeta {
    padding: 1.5rem;
    border-radius: 0.75rem;
    border: 1px solid #142433;
    box-shadow: 0 1px 2px rgba(20, 36, 51, 0.08);
    background-color: #fff;

    display: flex;
    flex-direction: column;

    p {
        margin-top: 0rem; 
        margin-bottom: 0.50rem;
        color: #295264;
    }

    h2{
        margin-top: 0rem; 
        margin-bottom: 1rem;
        color: #142433;
    }

    h3 {
        margin-top: 0.5rem;    
        margin-bottom: 0.50rem; 
        font-size: 1rem; 
        color: #BD2F28;
    }

    ul {
        margin-top: 0.25rem;         
        padding-left: 2rem;  
        margin-bottom: 1rem;   
        color: #295264;
    }
    
    li {
        margin-bottom: 0.25rem; 
    }
}

.especialidad {
    font-weight: 600;
    color: #BD2F28;
}

.descripcion {
    margin: 0.5rem 0 0.75rem;
    color: #295264;
}

button {
    margin-top: 0.75rem;
    padding: 0.4rem 0.9rem;
    border-radius: 120px;
    border: none;
    cursor: pointer;
    background-color: #142433;
    color: #ffffff;
    font-weight: 600;
    margin-top: auto;

    width: 50%;    
    margin-top: auto;
    align-self: center; 
}