.contenedor-progra
{
    margin: 0rem;
    display: flex;
    flex-direction: column;
}
.especialidad{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #BD2F28;
}

.descripcion{
    margin-top: 0rem;
    color: #295264;
}

h1{
    font-weight: 900;
    color: #142433;
}

.prog-no-encontrado {
  display: flex;
  justify-content: center; 
  align-items: center;    
  font-size: x-large;
  color: #89373D;
  
  width: 100%;
  height: 100%; 
  text-align: center;
}